<head>
  <title>err<%= code %> - nhs-with-line</title>
  <link rel="icon" href="https://obs.line-scdn.net/0hg86Y61P_OBcLIBISEX1HQDdlNnp8Dj5fcxJ0Iy10ZyR1Ry9AN0FwcSxzNS4vEy1HP08kJHkoZiFz/preview">
  <link rel="apple-touch-icon" href="https://obs.line-scdn.net/0hg86Y61P_OBcLIBISEX1HQDdlNnp8Dj5fcxJ0Iy10ZyR1Ry9AN0FwcSxzNS4vEy1HP08kJHkoZiFz/preview">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
</head>
<body class="lime lighten-5">
<h1>err<%= code %></h1>
<a href="/">GO TO TOP.</a>
</body>